{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "browsers": [">0.2%", "not dead", "not op_mini all"]
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "development": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-react",
          {
            "development": true
          }
        ]
      ]
    }
  }
}
